body {
  background-color: #141829;
  font-family: "Quattrocento Sans", sans-serif;
  min-height: 100vh;
}

.wrapper {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
